@import "open-props/animations";
@import "open-props/easings";

@font-face {
  font-family: "Bricolage Grotesque Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(@fontsource-variable/bricolage-grotesque/files/bricolage-grotesque-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "BBH Sans Bartle";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/bbh-sans-bartle/files/bbh-sans-bartle-latin-400-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-400-italic.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-400-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fira-sans-extra-condensed-latin-500-normal */
@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-500-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-600-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-700-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Focus behaviour */

:is(a, button, input, textarea, summary) {
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* General */

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--bricolage);
}

html {
  scroll-behavior: smooth;
}

a,
blockquote,
ul,
ol,
p {
  font-family: var(--bricolage);
  font-size: 16px;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
blockquote,
ul,
ol {
  line-height: 130%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}
a:focus-visible {
  outline: 2px solid var(--color-pink);
  outline-offset: 1px;
}
/* Reduced motion preference */

@media (prefers-reduced-motion: no-preference) {
  :focus,
  :hover {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}
