:root {
  color-scheme: light dark;

  /* Color */
  --color-black: #0c0e14;
  --color-white: #fff;
  --color-neutral-light: #f5f5f5;
  --color-neutral-dark: #636363;

  --color-red-100: #ffe6e5;
  --color-red-400: #c3374d;
  --color-red-900: #ab0f29;

  --color-green: #99f5c7;
  --color-blue: #c1e8ff;
  --color-pink: #ffcaf7;
  --color-yellow: #ffe278;
  --color-purple: #d1cfff;
  --color-orange: #ffe4d3;

  --color-sticker-star: rgba(255, 173, 227, 0.6);

  --color-bg: var(--color-white);
  --color-text: var(--color-red-dark);

  /* Typography */
  --step--4: clamp(0.512rem, 0.5532rem + -0.0531vw, 0.5425rem);
  --step--3: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);

  /* Spacing */
  --space-4xs: 4px;
  --space-3xs: 8px;
  --space-2xs: 12px;
  --space-xs: 16px;
  --space-s: 24px;
  --space-m: 32px;
  --space-l: 48px;
  --space-xl: 64px;
  --space-2xl: 96px;
  --space-3xl: 128px;

  /* Other */
  --border-radius: 12px;

  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --fira: "Fira Sans Extra Condensed", sans-serif;
  --bricolage: "Bricolage Grotesque Variable", sans-serif;
}
