:root {
  color-scheme: light;

  /* Color */
  --color-black: #000;
  --color-white: #fff;
  --color-neutral-light: #f5f5f5;
  --color-neutral-dark: #636363;

  --color-red-100: #ffe6e5;
  --color-red-400: #c3374d;
  --color-red-900: #ab0f29;

  --color-green: #99f5c7;
  --color-blue: #c1e8ff;
  --color-pink: #ffcaf7;
  --color-yellow: #ffe278;
  --color-purple: #d1cfff;
  --color-orange: #ffe4d3;
  --color-pro: #ffc3ba;

  /* Spacing */
  --space-4xs: 4px;
  --space-3xs: 8px;
  --space-2xs: 12px;
  --space-xs: 16px;
  --space-s: 24px;
  --space-m: 32px;
  --space-l: 48px;
  --space-xl: 64px;
  --space-2xl: 96px;
  --space-3xl: 128px;

  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --fira: "Fira Sans Extra Condensed", sans-serif;
  --bricolage: "Bricolage Grotesque Variable", sans-serif;
  --bbh-sans-bartle: "BBH Sans Bartle", sans-serif;
}
