---
import Logo from "./Logo.astro";
import Star from "./Star.astro";
import { getImage } from "astro:assets";
import footerImage from "@images/acrofusi-footer.png";
const optimizedBackgroundImage = await getImage({ src: footerImage });
---

<div class="footer" id="footer">
  <div class="credits">
    <p>design: Lisa Lorenzon</p>
    <p>dev: Luca Campli</p>
  </div>
  <Star class="star-1" />
  <Star class="star-2" />
  <Logo />
  <div class="saluti">
    <p style="font-size: 20px;">See you next year!</p>
    <div class="love">
      <span>With love</span>
    </div>

    <div style="color:#ffade3">
      The AcroFusion team<span class="heart"
        ><svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.67693 1.38107C5.54814 2.01243 5.56729 2.01236 5.26118 1.20881C4.84027 0.0417551 3.36709 -0.340811 1.89392 0.32881C-0.841963 1.59152 -0.593302 6.27884 2.50609 10.9088C3.09918 11.7889 3.15658 14.295 6.23684 11.1765C7.92046 9.47378 10.4842 6.64231 11.1921 5.60918C13.5262 2.18454 10.4268 -0.723452 6.67693 1.38107ZM10.3312 3.21767C10.159 4.53778 5.43329 10.2008 4.13231 10.6409C3.78794 10.7557 2.29567 5.97269 2.06609 4.07862C1.75998 1.40013 3.09926 -0.26432 3.82627 1.91673C3.99846 2.45243 4.13231 3.21771 4.13231 3.63862C4.11318 5.03525 5.45248 5.09254 6.10297 3.71503C7.34655 1.05568 10.6564 0.692244 10.3312 3.21767Z"
            fill="#FFADE3"></path>
        </svg>
      </span>
    </div>
  </div>

  <style
    define:vars={{ backgroundImage: `url("${optimizedBackgroundImage.src}")` }}
  >
    .footer {
      display: flex;
      flex-direction: column;
      padding-top: 30vh;
      position: relative;
      overflow: clip;
      text-align: center;

      align-items: center;
      width: 100%;
      height: 100vh;
      background-image: var(--backgroundImage);
      image-rendering: -webkit-optimize-contrast;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-color: var(--color-red-900);

      .credits {
        position: absolute;
        top: var(--space-m);
        & p {
          font-family: var(--bricolage);
          font-weight: 400;
          font-size: 10px;
          color: var(--color-white);
        }
      }

      .logo {
        width: min(30vw, 200px);
        height: auto;
      }

      .star-1 {
        position: absolute;
        top: 0px;
        right: -16px;
        width: min(30%, 180px);
        height: auto;
        color: rgba(255, 173, 227, 0.4);
        animation: var(--animation-blink), var(--animation-float);
        animation-duration: 5s;
        animation-delay: 1s;
      }
      .star-2 {
        position: absolute;
        top: 100px;
        right: min(20%, 200px);
        width: min(20%, 140px);
        height: auto;
        color: rgba(255, 173, 227, 0.5);
        animation: var(--animation-blink), var(--animation-float);
        animation-duration: 5s;
      }

      .heart {
        color: #ffade3;
        padding-left: var(--space-3xs);
        position: relative;
        svg {
          animation: var(--animation-pulse);
        }
      }

      .saluti {
        display: flex;
        flex-direction: column;
        position: relative;

        font-family: var(--bricolage);
        color: var(--color-white);
        font-weight: 300;

        p {
          font-weight: 800;
          margin-bottom: var(--space-s);
          margin-top: var(--space-l);
        }

        .love {
          width: 100%;
        }
      }
    }
  </style>
</div>
