---
import HeroLogo from "./HeroLogo.astro";
import Star from "./Star.astro";
---

<div class="hero" id="hero">
  <div class="hero-content">
    <div class="title">
      <Star class="star-top" />
      <HeroLogo class="title-svg" />
      <Star class="star-bottom" />
    </div>
    <h1>SCHEDULE</h1>
    <a href="#27" aria-label="Scroll down" class="scroll-down-circle"></a>
  </div>
</div>

<style>
  @keyframes down {
    from {
      transform: translateX(-50%) translateY(0);
    }
    to {
      transform: translateX(-50%) translateY(6px);
    }
  }

  body:has(.nav-day.active) .scroll-down-circle {
    opacity: 0;
    transition: opacity 0.4s linear;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: clip;
    position: relative;

    background-color: var(--color-red-900);
    background-image: url("/hero-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    .hero-content {
      z-index: 1;
    }

    .scroll-down-circle {
      position: absolute;
      bottom: var(--space-l);
      opacity: 0.9;
      left: 50%;
      transform: translateX(-50%);
      width: 48px;
      height: 48px;
      border: 2px solid var(--color-white);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      animation: down 1s ease-out infinite alternate;
      &::before {
        content: "";
        display: block;
        position: relative;
        top: -4px;
        width: 18px;
        height: 18px;
        border-left: 3px solid var(--color-white);
        border-bottom: 3px solid var(--color-white);
        transform: rotate(-45deg);
      }

      @media only screen and (max-width: 800px) {
        bottom: var(--space-xl);
      }
    }

    .title {
      display: flex;
      width: 100%;
      padding: 0 var(--space-xs);
      position: relative;
      margin-top: 172px;

      .star-top {
        position: absolute;
        bottom: calc(100% + var(--space-2xl));
        left: -24px;
        width: 25%;
        height: auto;
        color: rgba(255, 173, 227, 0.6);
        animation: var(--animation-blink);
        animation-duration: 3s;
      }
      .star-bottom {
        position: absolute;
        top: calc(100% + var(--space-3xl));
        right: -36px;
        width: 25%;
        height: auto;
        color: rgba(255, 173, 227, 0.6);
        animation: var(--animation-blink);
        animation-duration: 3s;
        animation-delay: 1s;
        transform: rotateY(180deg);
      }
    }

    .title-svg {
      width: calc(200 * 0.2vw);
      max-width: 350px;
      height: auto;
      max-height: 480px;
    }

    h1 {
      color: var(--color-white);
      margin-top: var(--space-l);
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    @media (max-width: 800px) {
      .title {
        margin-top: 27vh;
      }

      .title-svg {
        flex: 1;
        width: 100%;
        height: auto;
      }
    }

    @media (max-width: 450px) {
      &::before {
        background-size: contain;
      }
    }
  }
</style>
