<svg
  width="100"
  height="40"
  viewBox="0 0 100 40"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Acrofusion Logo</title>
  <path
    d="M53.3583 6.46478C51.2862 4.63181 49.6653 3.03793 49.6653 3.03793C49.6653 3.03793 49.7641 3.63564 47.453 6.30539C45.1418 8.97514 45.5594 11.7644 45.5594 11.7644C46.1444 10.0112 48.5113 8.03315 48.7408 7.7861C49.007 7.5008 49.2126 7.04176 49.6302 7.00191C50.0478 6.96206 50.1753 7.29359 50.7985 8.09053C51.4217 8.88747 52.9566 9.78323 53.7536 12.5199C54.5505 15.2566 51.3357 18.0714 51.3357 18.0714C58.2419 13.5814 55.4271 8.29614 53.3551 6.46318L53.3583 6.46478ZM48.2611 1.92222C48.2611 0.860695 47.4004 0 46.3388 0C45.2773 0 44.4166 0.860695 44.4166 1.92222C44.4166 2.98374 45.2773 3.84444 46.3388 3.84444C47.4004 3.84444 48.2611 2.98374 48.2611 1.92222Z"
    fill="white"></path>
  <path
    d="M42.319 22.5821C40.5355 21.994 38.6531 21.0074 38.108 20.9484C37.5629 20.8878 37.7159 20.483 37.955 20.2917C38.1941 20.0989 38.7248 19.2286 39.4819 17.5694C40.239 15.9086 41.3946 15.0989 41.3946 15.0989C38.2068 15.8958 36.6528 18.7122 36.1746 19.482C35.6965 20.2519 34.1695 21.9127 34.1695 21.9127C34.1695 21.9127 34.9792 22.2841 35.9228 22.7766C36.8664 23.2691 40.5052 26.4951 44.45 25.0192C48.3949 23.5417 48.9225 18.9879 48.9225 18.9879C47.4481 22.5837 44.101 23.1719 42.3174 22.5837L42.319 22.5821ZM32.3509 16.7852C31.2926 16.7852 30.4335 17.6443 30.4335 18.7026C30.4335 19.761 31.2926 20.6201 32.3509 20.6201C33.4092 20.6201 34.2683 19.761 34.2683 18.7026C34.2683 17.6443 33.4092 16.7852 32.3509 16.7852Z"
    fill="white"></path>
  <path
    d="M58.0043 15.2312C58.9001 15.2614 59.7273 15.9882 60.7538 16.9653C61.7802 17.9423 62.9693 18.7712 63.1542 18.8971C63.3407 19.023 63.2944 19.235 63.0219 19.4023C62.7493 19.5681 61.4742 20.4782 61.0758 21.009C60.6773 21.5397 58.8443 23.4269 56.6655 23.5066C54.4867 23.5863 52.15 21.4218 52.15 21.4218C52.9741 23.0428 55.4047 25.4989 58.7375 25.4065C62.0719 25.314 63.7981 22.9089 64.595 21.7406C65.392 20.5722 66.9795 18.8588 66.9795 18.8588C65.3362 18.0714 64.6078 17.3542 62.3668 16.0504C60.1258 14.7466 58.0028 15.2343 58.0028 15.2343L58.0043 15.2312ZM67.7095 13.3982C66.6639 13.3982 65.816 14.2461 65.816 15.2917C65.816 16.3373 66.6639 17.1853 67.7095 17.1853C68.7551 17.1853 69.603 16.3373 69.603 15.2917C69.603 14.2461 68.7551 13.3982 67.7095 13.3982Z"
    fill="white"></path>
  <path
    d="M5.4415 37.617H1.9525L1.18425 39.6827H0L3.12241 31.3706H4.26841L7.39082 39.6827H6.20657L5.43832 37.617H5.4415ZM5.08766 36.6718L3.96717 33.6626C3.8795 33.4235 3.79025 33.1207 3.70258 32.7939H3.67708C3.58942 33.1207 3.50016 33.4235 3.4125 33.6626L2.30475 36.6718H5.08766Z"
    fill="white"></path>
  <path
    d="M17.7814 34.1027L16.6991 34.2796C16.6991 33.4859 16.1445 32.3032 14.6462 32.3032C13.148 32.3032 12.0402 33.4747 12.0402 35.5276C12.0402 37.8196 13.387 38.7521 14.8486 38.7521C15.9309 38.7521 16.7246 38.097 17.1661 37.4929L17.8595 38.1974C17.6076 38.5496 16.6625 39.7594 14.8247 39.7594C12.4817 39.7594 10.8831 38.1974 10.8831 35.5276C10.8831 32.8579 12.4451 31.2959 14.635 31.2959C16.9653 31.2959 17.7702 33.0221 17.783 34.1043L17.7814 34.1027Z"
    fill="white"></path>
  <path
    d="M28.5607 39.694C28.5607 39.694 28.2451 39.7561 27.8801 39.7561C25.5499 39.7561 26.2432 36.4823 24.0771 36.4823H23.4093V39.6812H22.2633V31.3691H24.7689C26.7086 31.3691 27.8164 32.1501 27.8164 33.9512C27.8164 35.11 27.0481 35.9165 25.9531 36.2815C27.0242 36.8856 27.0354 38.8381 28.2196 38.8381C28.3711 38.8381 28.4715 38.8126 28.4715 38.8126L28.5591 39.694H28.5607ZM24.6063 35.5897C25.7778 35.5897 26.6592 35.0112 26.6592 33.9528C26.6592 32.8945 25.9786 32.3414 24.7195 32.3414H23.4093V35.5897H24.6063Z"
    fill="white"></path>
  <path
    d="M39.9825 35.5259C39.9825 38.1208 38.3583 39.7577 36.0791 39.7577C33.7998 39.7577 32.1757 38.1208 32.1757 35.5259C32.1757 32.9311 33.8126 31.2942 36.0791 31.2942C38.3456 31.2942 39.9825 32.9311 39.9825 35.5259ZM38.8237 35.5259C38.8237 33.5495 37.6905 32.3015 36.0791 32.3015C34.4677 32.3015 33.3344 33.5479 33.3344 35.5259C33.3344 37.5039 34.4804 38.7504 36.0791 38.7504C37.6777 38.7504 38.8237 37.5039 38.8237 35.5259Z"
    fill="white"></path>
  <path
    d="M44.5664 39.6828H45.7124V35.9802H49.0245V34.9856H45.7124V32.3414H49.5903V31.3723H44.5664V39.6844V39.6828ZM59.3114 36.4711C59.3114 37.9072 58.43 38.7504 57.1581 38.7504C55.8861 38.7504 54.992 37.9072 54.992 36.4456V31.3707H53.846V36.4711C53.846 38.4475 55.1816 39.7577 57.1581 39.7577C59.1345 39.7577 60.4574 38.4475 60.4574 36.4711V31.3707H59.3114V36.4711ZM66.2384 33.5623C66.2384 32.7685 66.868 32.3031 67.837 32.3031C69.1345 32.3031 69.5871 33.1463 69.6636 33.5878L70.7347 33.3232C70.5833 32.7319 70.0924 31.2958 67.8386 31.2958C66.2145 31.2958 65.0812 32.2155 65.0812 33.575C65.0812 36.4089 69.6525 35.3251 69.6525 37.5422C69.6525 38.2849 68.9719 38.7504 67.8259 38.7504C66.5667 38.7504 65.824 38.1829 65.4829 37.8817L64.7656 38.7759C65.2693 39.2046 66.3404 39.7577 67.8259 39.7577C69.6142 39.7577 70.7857 38.8763 70.7857 37.5406C70.7857 34.4294 66.24 35.3235 66.24 33.5607L66.2384 33.5623ZM75.3426 39.6828H76.4886V31.3707H75.3426V39.6828ZM84.976 31.2942C82.7095 31.2942 81.0726 32.9311 81.0726 35.5259C81.0726 38.1208 82.7095 39.7577 84.976 39.7577C87.2425 39.7577 88.8794 38.1208 88.8794 35.5259C88.8794 32.9311 87.2553 31.2942 84.976 31.2942ZM84.976 38.7504C83.3774 38.7504 82.2314 37.5039 82.2314 35.5259C82.2314 33.5479 83.3774 32.3015 84.976 32.3015C86.5747 32.3015 87.7207 33.5479 87.7207 35.5259C87.7207 37.5039 86.5874 38.7504 84.976 38.7504ZM98.8524 31.3707L98.8778 36.6098C98.8778 37.3143 98.94 37.9327 98.9528 38.108L98.8778 38.1463C98.7774 37.9454 98.5511 37.4657 98.0347 36.6353L94.7354 31.3707H93.4634V39.6828H94.6094L94.5839 34.4564C94.5839 33.7886 94.5457 33.0841 94.509 32.9709L94.5728 32.9327C94.6349 33.0714 95.1275 33.94 95.4542 34.4692L98.7535 39.6828H99.9999V31.3707H98.8539H98.8524Z"
    fill="white"></path>
</svg>
