---
import { Image } from "astro:assets";
import arrow from "@images/arrow-upward.svg";
---

<a aria-label="Back to top" href="#28" id="back-to-top">
  <Image alt="" src={arrow} />
</a>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const backToTopLink = document.getElementById("back-to-top");
    const today = new Date();
    let dayOfMonth = today.getDate();
    if (dayOfMonth > 5 && dayOfMonth < 28) {
      dayOfMonth = 28;
    }

    backToTopLink.href = `#${String(dayOfMonth).padStart(2, "0")}`;
  });
</script>

<style>
  a {
    background: var(--color-red-900);
    border-radius: 9999px;
    bottom: var(--space-xs);
    position: fixed;
    right: var(--space-xs);
  }
  @media (prefers-color-scheme: light) {
    img {
      filter: invert(1);
    }
  }
</style>

<script>
  const backToTopLink = document.getElementById("back-to-top");

  const toggleBackToTopVisibility = () => {
    backToTopLink!.style.display = window.scrollY > 0 ? "block" : "none";
  };

  window.addEventListener("scroll", toggleBackToTopVisibility);
</script>
